{{ define "main" }}
<main>
	<article>
		<div class="wide-container padded tertiary-bg p-text-mid">

			<div class="title">
				<div class="text-center">{{ .Title }}</div>

				{{ if .Draft }}
				<span class="draft-label">DRAFT</span>
				{{ end }}

				{{ if .Params.author }}
				<p class="blog-meta">{{ .Params.author }}</p>
				{{ end }}

				{{ if .Date }}
				<p class="blog-meta">{{ dateFormat "Jan 2, 2006" .Date }}</p>
				{{ end }}
			</div>
			{{ if isset .Params "tldr" }}
			<div class="tldr">
				<strong>tl;dr:</strong>
				{{ .Params.tldr }}
			</div>
			{{ end }}

			<hr />


			{{ .Content }}

			<div class="post-tags">
				{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
				<nav class="nav tags">
					<ul class="tags">
						{{ range .Params.tags }}
						<li><a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
						{{ end }}
					</ul>
				</nav>
				{{ end }}
				{{ end }}
			</div>
		</div>

	</article>
</main>
{{ end }}