@mixin centered {
  display: block;
  margin: 0px auto;
}

body {
  background: #131c2e;
}

.nav-item .nav-link {
  color: #98b5ff;
  cursor: pointer;
}

.discord-cta {
  color: #98b5ff;

  a {
    display: block;
    width: fit-content;
    margin: 40px auto;
  }
}

.draft-label {
  color: rgb(145, 61, 205);
}

.post-title {
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

blockquote {
  border-left: 3px solid #3e5073;
  padding-left: 1em;
  color: #98b5ff;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: 1.2em;
  padding-left: .75em;

  p:last-child {
    margin-bottom: 0;
  }
}

code {
  color: #ff89c6;
}
pre code {
  color: #ff89c6;
}

.table-of-contents {
  @media screen and (min-width: 975px) {
    float: left;
  }
  
  border: 1px solid white;
  width: fit-content;
  padding: 1em;
  padding-bottom: 0;
  margin: 1em;
  background-color: #1a2954;

  h3 {
    margin-top: 0;
  }
}

a {
  color: #acb5f9;
  text-decoration: none;
}

h2 {
  font-size: 2.5em;
  color: #c3caff;
  clear: both;

  // Little dividing line on all h2's except the first
  &:not(:nth-of-type(1))::before {
    display: inline-block;
    content: "";
    border-top: 2px solid #2d4580;
    width: 100%;
    margin: 3em 0 .2em 0;
    transform: translateY(-1rem);
  }
}

hr {
  border-top: 2px solid #2d4580;
  margin: 2em;
}

h3 {
  margin-top: 1.5em;
  color: #c3caff;
}

video {
  @include centered;
}

img {
  @include centered;

  @media screen and (min-width: 975px) {
    max-width: 60%;
  }

  @media screen and (max-width: 974px) {
    max-width: 100%;
  }
}

.twitter-tweet {
  @include centered;
}

.centered {
  @include centered;
  width: fit-content;
}

// Direct child of div so that nested bullet lists still have no margin
div>ul>li {
  margin: .45em 0;
}

.rainbow {
  background-image: linear-gradient(to left, violet, rgb(69, 69, 255), green, yellow, orange, red);
  background-clip: text;
  color: transparent;
}

.grayscale {
  background-image: linear-gradient(to left, white, rgb(200, 200, 200), rgb(125, 125, 125), rgb(80, 80, 80), rgb(125, 125, 125), rgb(200, 200, 200), rgb(255, 255, 255));
  background-clip: text;
  color: transparent;
}

.wavy-animated {
  animation-name: wavy;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}
@keyframes wavy {
  0% {
    top: 1px;
  }
  50% {
    top: -1px;
  }
  100% {
    top: 1px;
  }
}

.footer-links {
  // display: flex;
  // max-width: fit-content;

  .next-post {
    display: block;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 2em;
  }

  .previous-post {

  }
}

.posts {
  .post {
    margin: 1.25em 0;

    .post-list-title {
      // Halfway between regular (400) and bold (700)
      font-weight: 550;

      font-size: 1.2em;
    }
  }
}

.smallish-img img {
  max-width: 300px;
}
